<!-- Comments Template -->

<div class="container" align="center">
    <div class="row">
        <div class="custom-block col-sm-4 mx-auto">
            <div class="comments-section">

                <div class="card-body new-post-form">
                <h3 class="card-header">Add Comment</h3>
                <br>
                <form id="add-comment-form">
                    <div class="mb-3">
                        <textarea id="comment-textarea" class="form-control" rows="3" placeholder="Add your comment"></textarea>
                    </div>
                    <div class="pt-3 mb-3">
                        <button class="btn btn-primary submit-btn" type="submit">Submit Comment</button>
                    </div>

                </form>
                </div>

                {{#each post.comments as |comment|}}
                <div class="comment">
                    <div class="comment-header">
                        <h4>{{user_id}}</h4>
                        <p>{{format_date created_at}} @ {{format_time created_at}}</p>
                    </div>
                    <div class="comment-text">
                        {{text}}
                    </div>
                </div>
                <hr>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="nav-item">
        <a href="/profile">Profile</a>
        <a href="/">Home</a>
    </div>
</div>


<script src="/js/add-comment.js"></script>
