<div class="container">

 <div class="row">
    <div class="col-sm-9 mx-auto">
      <div class="comments-section">
        {{#each post.comments as |comment|}}
        <div class="comment">
          <div class="comment-header">
            <h4>{{comment.user_id}}</h4>
            <p>{{format_date comment.created_at}} @ {{format_time comment.created_at}}</p>
          </div>
          <div class="comment-text">
            {{comment.text}}
          </div>
        </div>
        <hr>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 mx-auto mb-2">
      <div class="card">
        <div class="card-header">
          <h5>Add Comment</h5>
        </div>
        <div class="card-body new-post-form">
          <form id="add-comment-form">
            <div class="mb-3">
              <textarea id="comment-textarea" class="form-control" rows="3" placeholder="Add your comment"></textarea>
            </div>
            <div class="pt-3 mb-3">
              <button class="btn btn-primary submit-btn" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
