{{#if logged_in}}
<div class="col-12 col-md-4 col-lg-3 mb-3">
    <div class="container custom-block border border-0 rounded">
        <div class="row p-3">
            <div class="col-3 mb-2">
                {{#if profile_picture}}
                <img src="/img/profile/{{user_id}}.png" class="profile-picture">
                {{else}}
                <img src="/img/profile/default_avatar.png" class="profile-picture">
                {{/if}}
            </div>
            <div class="col-12 col-lg-9">
                <ul class="profile-list">
                    <li><a href="/profile"><i class="fa-solid fa-user"></i> {{username}}</a></li>
                    <li><i class="fa-sharp fa-solid fa-plus"></i> Add post</li>
                    <li><i class="fa-solid fa-star"></i> Followers</li>
                    <li onclick=logout()><i class="fa-solid fa-door-open"></i> Logout</li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <script src="js/logout.js"></script>
{{else}}
<div class="col-12 col-md-4 col-lg-3">
    <div class="container custom-block border border-0 rounded p-3 mb-3" align="center">
        <h5>Connect to SocioSynergy!</h5>
        <a href="/login" role="button"  class="btn button_slide slide_right">Login</a>
        <a href="/signup" role="button"  class="btn button_slide slide_right">Sign-Up</a>
        
    </div>
</div>
{{/if}}
