<div class="container" align="center">
    <div class="row">
        <div class="custom-block col-sm-4 mx-auto">
             <div class="card-body d-flex flex-column align-items-center mt-4">
                <div class="p-2">
                    <img src="/img/SS-logo.png" height="50px" width="80px" alt="logo">
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            </div>

            <div class="card-body edit-post-form">
                <h3 class="card-header">Edit Post</h3>
                <form id="edit-post-form">
                    <div class="mb-3">
                        <label for="post-title" class="form-label">Title</label>
                        <input type="text" id="post-title" name="post-title" class="form-control" value="{{post.title}}" />
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Content</label>
                        <textarea id="content" name="content" class="form-control">{{post.content}}</textarea>
                    </div>
                    <div class="pt-3 mb-3">
                        <button class="btn button_slide slide_right" type="submit">Update Post</button>
                        <button class="delete-post-btn btn-outline" type="button">Delete Post</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
