<!-- new-post.handlebars -->

<div class="container" align="center">
    <div class="row">
        <div class="custom-block col-sm-4 mx-auto">
            <div class="card-body d-flex flex-column align-items-center">
                <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                    <i class="fa-solid fa-file-plus fa-xs"></i>
                </div>
                <!-- Divider -->
                <hr class="my-4" />
            </div>

            <div class="card-body new-post-form">
                <h3 class="card-header">Create New Post</h3>
                <form id="new-post-form">
                    <div class="mb-3">
                        <label for="post-title" class="form-label">Title</label>
                        <input type="text" id="post-title" name="post-title" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Content</label>
                        <textarea id="content" name="content" class="form-control"></textarea>
                    </div>
                    <div class="pt-3 mb-3">
                        <button class="btn button_slide slide_right" type="submit">Create</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

  <script src="/js/add-post.js"></script>

