<div class="container" align="center">
        <div class="row">
            <div class="custom-block col-sm-4 mx-auto">
                <div class="card-body d-flex flex-column align-items-center">
                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                        <i class="fa-solid fa-user-plus fa-xs"></i>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                </div>

                <form class="text-center signup-form" method="post">
                    <div class="mb-3">
                        <input class="form-control" type="username" name="username" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="first_name" name="first_name" placeholder="First name">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="last_name" name="last_name" placeholder="Last name">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <select class="form-control" type="gender" name="gender" placeholder="gender">
                            <option selected>Gender...</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="password" name="password" placeholder="Password (min. length 6)">
                    </div>
                    <div class="pt-3 mb-3">
                        <button class="btn button_slide slide_right" type="submit">Sign-Up</button>
                    </div>
                </form>
                <hr class="my-4" />
                <p class="post-meta">Already have an account? <a class="signup-link" href="/register">Login instead here!</a></p>
            </div>
        </div>
    </div>