<div class="container">
  <div class="row">
    <div class="col-sm-9 mx-auto mb-2">
      <div class="card">
        <div class="card-header">
          <h2>{{post.title}}</h2>
          <p>Posted by {{post.user/username}} on {{format_date post.created_at}}</p>
        </div>
        <div class="card-body">
          {{post.content}}
        </div>
      </div>
    </div>
  </div>

  {{> comments }}
</div>

{{#if logged_in}}
  <script src="/js/add-comment.js"></script>
{{/if}}
